@font-face {
	font-family: 'Sonnyfive';
	src: url('../fonts/The Sonnyfive.eot');
	src: local('☺'), url('../fonts/The Sonnyfive.woff') format('woff'), url('../fonts/The Sonnyfive.ttf') format('truetype'), url('../fonts/The Sonnyfive.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



